:root {
    --project-border-radius: 8px;
}

.projects-container {
    min-height: 270px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 50px;
    max-width: 1440px;
    margin: 0 auto;
}

.project {
    background-color: var(--primary-color);
    min-height: 270px;
    color: var(--background-color);
    border-radius: var(--project-border-radius);
}

.project .img-container {
    height: 55%;
    background-color: #333;
    border-radius: var(--project-border-radius) var(--project-border-radius) 0 0;
}

.project .info-container {
    height: 45%;
    position: relative;
}

.project-title {
    padding: 6px 10px 2px;
}

.project-description {
    padding: 4px 10px;
}

.projects-container .buttons-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 45%;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 4px;
}

.projects-container .buttons-container .btn {
    min-width: 100px;
    padding: 8px 0;
    background-color: var(--accent-color);
    color: var(--background-color);
    border: none;
    border-radius: 6px;
}

.projects-container .buttons-container .btn:active {
    transform: scale(0.98);
}