:root {
    --footer-height: 100px;
    --circle-size: 200px;
    --header-height: 50px;
}

* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

a {
    cursor: pointer;
}

h4 {
    font-size: 1.6rem;
}

.btn {
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

.container {
    transform-origin: top left;
    transition: transform 0.5s linear;
}

.container.show-nav {
    transform: rotate(-20deg);
}

main {
    min-height: calc(100vh - var(--footer-height) - var(--header-height));
    background-color: cyan;
    padding: 50px;
}

footer {
    height: var(--footer-height);
    background-color: orange;
}